.banner {
    background-color: darkgoldenrod;
    margin: 8px;
    border-style: solid;
    border-color: black;
    font-size: 50px;
    text-align: center;
}

.banner__logo {
    width: 87px;
   

}

