.banner {
    background-color: #74E1B2;
    margin: 8px;
    border-style: solid;
    border-color: black;
    font-size: 50px;
    text-align: center;

}

/* .banner__logo {
border: 5px red solid;

} */

.banner__pic {
    max-width: 10%;
    max-height: 10%;
}