.locationList {
    background-color: greenyellow;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    
}

.location {
    background-color: mediumseagreen;
    margin: 8px;
    flex-wrap: wrap;
    border-style: solid;
    border-color: black;
    width: 275px;
    height: 300px;
    border-radius: 25px;
    box-shadow: 3px 7px 9px 6px darkgreen;
    align-items: center;
}


.location__picture {
    max-width: 15rem;
    max-height: 15rem;
    margin: 8px;
    border-style: solid;
    border-color: black;
    align-items: center;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}