.quoteList {
    background-color: whitesmoke;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
}

.quote {
    background-color: #fdd149;
    border: solid black 2px;
    padding: 8px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 3px 3px 3px 3px grey;
}