.tipList {
    background-color: dodgerblue;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    height: auto;
}

.tip {
    background-color: royalblue;
    margin: 8px;
    border-style: solid;
    border-color: black;
    width: auto;
    height: 30px;
}